@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: #004a99;
    --secondary-color: #285B7B;
    --font-primary: 'Roboto', sans-serif;
    --accent1-color: #B4D5DE;
    --accent2-color: #DAE9FB;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 20px;
}

body {
    font-family: var(--font-primary);
    color: var(--primary-color);
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

.hero {
    position: relative;
    background-image: url('../images/hero.jpg');
    background-size: cover;
    height: 500px;
}

.hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 5px black;
}

@media (max-width: 768px) {
    .hero {
        height: 300px;
    }
    .hero h1 {
        font-size: 1.5em;
    }
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: var(--primary-color);
    margin: 0 20px;
    padding: 10px;
}

footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
footer a {
    margin: 0 10px;
}

footer img {
    width: 30px;
}
