{% extends "base.html" %}
{% block content %}
<h1>Roadmap / Updates</h1>
<p>Here you can find planned updates and important dates to look out for.</p>

<!-- Adding multiple photos -->
 <p>Update 1</p>
<div class="update-photos">
    <img src="{{ url_for('static', filename='images/Elmentallia_Hidden.png') }}" alt="Update 1 Photo" width="300" height="200">
    <img src="{{ url_for('static', filename='images/Elmentallia_Hidden.png') }}" alt="Update 2 Photo" width="300" height="200">
    <img src="{{ url_for('static', filename='images/Elmentallia_Hidden.png') }}" alt="Update 3 Photo" width="300" height="200">
</div>
<p>Update 2</p>
<div class="update-photos">
    <img src="{{ url_for('static', filename='images/Elmentallia_Hidden.png') }}" alt="Update 1 Photo" width="300" height="200">
    <img src="{{ url_for('static', filename='images/Elmentallia_Hidden.png') }}" alt="Update 2 Photo" width="300" height="200">
    <img src="{{ url_for('static', filename='images/Elmentallia_Hidden.png') }}" alt="Update 3 Photo" width="300" height="200">
</div>
<p>Update 3</p>
<div class="update-photos">
    <img src="{{ url_for('static', filename='images/Elmentallia_Hidden.png') }}" alt="Update 1 Photo" width="300" height="200">
    <img src="{{ url_for('static', filename='images/Elmentallia_Hidden.png') }}" alt="Update 2 Photo" width="300" height="200">
    <img src="{{ url_for('static', filename='images/Elmentallia_Hidden.png') }}" alt="Update 3 Photo" width="300" height="200">
</div>
<p>Update 4</p>
<div class="update-photos">
    <img src="{{ url_for('static', filename='images/Elmentallia_Hidden.png') }}" alt="Update 1 Photo" width="300" height="200">
    <img src="{{ url_for('static', filename='images/Elmentallia_Hidden.png') }}" alt="Update 2 Photo" width="300" height="200">
    <img src="{{ url_for('static', filename='images/Elmentallia_Hidden.png') }}" alt="Update 3 Photo" width="300" height="200">
</div>

<p>RoadMap</p>
{% endblock %}
