nav {
  background-color: #f8f8f8; /* Example property */
  padding: 10px; /* Example property */
}
nav a {
  text-decoration: none;
  color: #333;
  margin: 0 1rem;
} 

h1 {
  font-size: 2rem;
  font-family: Arial, sans-serif;
  color: #444;
} 

img {
  width: 150px; /* Example width; adjust as needed */
  height: auto; /* Maintains the aspect ratio */
}


main {
  max-width: 840px;
  margin: 0 auto;
} 

aside {
  width: 20rem; /* Sets the width */
  margin: 0 auto; /* Centers the element horizontally */
  padding: 1rem;
  background-color: #eee;
  border: 1px solid #ccc;
  color: #333;
}

aside img {
  width: 200px;
  height: auto;
  margin-bottom: 1rem;
} 

p {
  margin: 1rem;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
  color: #333; 
} 

footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
}
 